#others.container-fluid.bg-grey
  .text-center
    h2 Pricing
    h4 Choose a payment plan that works for you
  .row
    .col-sm-4
      .panel.panel-default.text-center
        .panel-heading
          h1 Basic
        .panel-body
          p
            strong 20
            |  Lorem
          p
            strong 15
            |  Ipsum
          p
            strong 5
            |  Dolor
          p
            strong 2
            |  Sit
          p
            strong Endless
            |  Amet
        .panel-footer
          h3 $19
          h4 per month
          button.btn.btn-lg Sign Up
    .col-sm-4
      .panel.panel-default.text-center
        .panel-heading
          h1 Pro
        .panel-body
          p
            strong 50
            |  Lorem
          p
            strong 25
            |  Ipsum
          p
            strong 10
            |  Dolor
          p
            strong 5
            |  Sit
          p
            strong Endless
            |  Amet
        .panel-footer
          h3 $29
          h4 per month
          button.btn.btn-lg Sign Up
    .col-sm-4
      .panel.panel-default.text-center
        .panel-heading
          h1 Premium
        .panel-body
          p
            strong 100
            |  Lorem
          p
            strong 50
            |  Ipsum
          p
            strong 25
            |  Dolor
          p
            strong 10
            |  Sit
          p
            strong Endless
            |  Amet
        .panel-footer
          h3 $49
          h4 per month
          button.btn.btn-lg Sign Up