#pricing.container-fluid.text-center.bg-grey
  h2 Portfolio
  h4 What we have created
  .row.text-center
    .col-sm-4
      .thumbnail
        img(src='http://icons.iconarchive.com/icons/aha-soft/large-home/512/Property-icon.png', alt='Paris')
        p
          strong Paris
        p Yes, we built Paris
    .col-sm-4
      .thumbnail
        img(src='http://icons.iconarchive.com/icons/aha-soft/large-home/512/Property-icon.png', alt='New York')
        p
          strong New York
        p We built New York
    .col-sm-4
      .thumbnail
        img(src='http://icons.iconarchive.com/icons/aha-soft/large-home/512/Property-icon.png   ', alt='San Francisco')
        p
          strong San Francisco
        p Yes, San Fran is ours
