#services.container-fluid
  
  .row.bg-grey
    table
      tr
        td(width='70%')
          label.control-label(for='watch-words') Enter Keywords:
          br
          input#watchwords(type='text', value='', data-role='tagsinput', name='watch-words')
        
  br

          
  .row
    br
    .col-sm-12
      #d3_div(oncontextmenu='reset_graph()')
        svg#graph  

nk
                tbody
