#about.container-fluid
  br
  br
  br
  .row
    br
    .col-sm-12
        .table-responsive.scroll-y(style='height:500px;width:100%;font-size: 15px')
             table.display.table-bordered.table-hover.table-striped.text-center#summary
                thead
                  tr
                    th Timestamp
                    th Picture
                    th(width='800px') Caption
                    th Source
                    th Likes
                    th Comments
                    th Shares
                    th Link
                tbody
  .row              
    .col-sm-12
        #word-cloud

