extends layout
block content
    
    //include ./navbar/nav.jade

    //include ./content/summary.jade

    include ./content/services.jade

    script.
        $(document).ready(function() {
            init(); })
